{% extends 'base.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 index">
                <div class="full-stack">
                    <div class="logo"></div>
                    <a class="btn btn-success" href="{{ path('hwi_oauth_service_redirect', {'service': 'github'}) }}">Login With GitHub</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('build/css/index.css') }}">
 {% endblock %}