$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
